<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout 5</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>

<body>
    <header class="container" id="all">
        <div class="row">
            <div class="col-md-12">
                <h1>Título</h1>
            </div>
        </div>
    </header>

    <nav class="container" id="all">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="L1.html">Layout 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="L2.html">Layout 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="L3.html">Layout 3</a></li>
                    <li class="nav-item"><a class="nav-link" href="L4.html">Layout 4</a></li>
                    <li class="nav-item"><a class="nav-link" href="L5.html">Layout 5</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container px-4 py-2" id="all">
        <div class="row">
            <div class="col-md-4 border">
                <h2>Itens</h2>
            </div>
            <div class="col-md-7 border ml-auto">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4 border">
                <div class="row">
                    <div class="col-md-5 mx-auto my-2 border">
                        <h1>1</h1>
                    </div>
                    <div class="col-md-5 mx-auto my-2 border">
                        <h1>2</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mx-auto my-2 border">
                        <h1>3</h1>
                    </div>
                    <div class="col-md-5 mx-auto my-2 border">
                        <h1>4</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mx-auto my-2 border">
                        <h1>5</h1>
                    </div>
                    <div class="col-md-5 mx-auto my-2 border">
                        <h1>6</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-7 border ml-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sem ex tincidunt aptent, hendrerit aenean justo vitae quis interdum ornare molestie augue nostra velit dapibus, torquent aliquet montes lectus commodo etiam taciti tellus imperdiet sodales. Velit aptent dis lobortis placerat pretium montes eros fringilla, fames mus a at aliquet finibus porta, risus inceptos phasellus vivamus vestibulum iaculis integer. Lobortis donec sit curabitur orci nullam dui ultricies, inceptos accumsan metus eu sollicitudin platea, dolor maximus semper faucibus facilisis dignissim. Lacus euismod suspendisse aliquam proin tempor accumsan sem per neque nullam consectetur nunc ac mattis, fringilla auctor ultrices laoreet ridiculus fames vestibulum scelerisque erat semper quis tellus amet.</p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-5 border ml-auto">
                <h4>Lorem Ipsum</h4>
            </div>
        </div>
    </section>

    <footer class="container" id="all">
        <div class="row">
            <div class="col-md-12">
                <div class="row py-2">
                    <div class="col-md-5 border mx-auto">
                        <p>Layout criado por Sonic&copy</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
