<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação - PW1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header class="container-fluid text-white text-center">
        <div class="row">
            <div class="col-md-3 col-sm-12 pt-4">
                <img src="img/Ex-Aid.jpg" width="200vw" class="rounded-circle">
            </div>
            <div class="col-md-9 col-sm-12 pt-5">
                <h1>Jonatas Arão de Carvalho Neves</h1>
                <p>Estudante de Desenvolvimento de Sistemas</p>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row pt-5">
            <div class="col-md-9 col-sm-12 ml-auto">
                <h3>Quem eu sou</h3>
                <p>Sou Cristão, Estudante, Fã de Tokusatsu e Super Heróis, e agora Programador.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12 ml-auto p-3">
                <h3>Onde já estive</h3>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Sao_Paulo.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">São Paulo - SP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Angra_dos_Reis.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Ângra dos Reis - RJ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Itanhaem.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Itanhaém - SP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Barretos.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Barretos - SP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12 ml-auto p-3">
                <h3>Meus Hobbies</h3>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Sonic.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Jogar Video-Games</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Build.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Assistir Series Kamen Rider</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Flash.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Assistir Flash e outras series DC</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Youtube.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Assistir Vídeos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Forza.png" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Jogar Mais<br>Video-Games</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Gokai_Red.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Assistir Series Super Sentai</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Carros.png" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Assistir Filmes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="img/Avengers.jpeg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Assistir Desenhos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12 ml-auto p-3">
                <h3>Últimos Cursos</h3>
                <div class="row pt-4 pb-2">
                    <div class="col-md-5 col-sm-12">
                        <img src="img/DS.png" width="300vw" class="rounded">
                    </div>
                    <div class="col-md-7 col-sm-12 my-auto">
                        <h4>Desenvolvimento de Sistemas</h4>
                        <p>Estou atualmente cursando Desenvolvimento de Sistemas, porque além do fato de sempre querer
                            trabalhar na área de informática eu quero realmente entender como essa máquina e seus
                            programas funcionam</p>
                    </div>
                </div>
                <div class="row pt-2 pb-4">
                    <div class="col-md-7 col-sm-12 my-auto">
                        <h4>Licenciatura em Matemática</h4>
                        <p>Eu sempre gostei de Mátematica, e ter a oportunidade de aprender realmente Matemática é algo
                            que não poderia perder, mesmo que Cálculo seja ainda algo inalcançável</p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <img src="img/Matemática.jpg" width="300vw" class="rounded">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12 ml-auto p-3">
                <h3>Skills</h3>
                <div class="row">
                    <div class="col-9 ml-auto">
                        <h4 class="float-left">Básico</h4>
                        <h4 class="text-right">Avançado</h4>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">Coreldraw</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">Photoshop</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">UML</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">CSS</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">Jquery</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">C#</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="float-left">Etc..</h5>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        var heightHeader, widthWindow, margintopSection;

        $(document).ready(function () {
            defineDimencoes();
            mudaSection(widthWindow);
        });

        $(window).resize(function () {
            defineDimencoes();
            mudaSection(widthWindow);
        });

        function defineDimencoes() {
            heightHeader = parseInt($('header').height());
            widthWindow = parseInt($(window).width());
        }

        function mudaSection(wWindow) {
            if (wWindow > 767) {
                $('section').css('margin-top', heightHeader * 0.6);
                $('header').addClass('fixed-top');
            } else {
                $('header').removeClass('fixed-top');
                $('section').css('margin-top', 0);
            }
        }
    </script>
</body>

</html>