<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header class="container-fluid p-5">
        <img src="img/Ex-Aid.jpg" width="200px" class="rounded-circle float-left">
        <div class="text-white text-center">
            <h1>Jonatas Arão de Carvalho Neves</h1>
            <p>Estudante de Desenvolvimento de Sistemas</p>
        </div>
    </header>

    <section class="container-fluid">
        <div class="row p-5">
            <div class="col-11">
                <h3>Quem eu sou</h3>
                <p>Sou Cristão, Estudante, Fã de Tokusatsu e Super Heróis, e agora Programador.</p>
            </div>
            <div class="col-11 p-3">
                <h3>Onde já estive</h3>
                <p>Texto</p>
            </div>
            <div class="col-11 p-3">
                <h3>Meus Hobbies</h3>
                <p>Texto</p>
            </div>
            <div class="col-11 p-3">
                <h3>Últimos Trabalhos</h3>
                <p>Texto</p>
            </div>
        </div>
    </section>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>